
td,
th {
    padding: 15px !important;
}

.ct {
    text-align: center;
}

.form-select {
    padding: .375rem 2.25rem .375rem .75rem !important;
}

/* tbody {
    height: 200px;
    overflow-y: scroll;
} */

.button {
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #03C03C;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #97ed8a;
}

.button:hover {
    background-color: #157806;
}

.button:active {
    background-color: #157806;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.tableWrap {
    height: 547px;
    overflow: auto;
}

/* Set header to stick to the top of the container. */
thead tr th {
    background-color: #fefefe !important;
    position: sticky;
    z-index: 9999;
    top: 0;
}

#tb {
    flex-direction: column;
}

#tb i {
    color: red;
    font-size: 200px;
    margin-bottom: 10px;

}

#tb b {
    color: red;
    font-size: 32px;
}

h3 {
    padding-top: 6px;
}

.form1 {
    font-size: 18px;
}

.form1 input[type='radio'] {
    margin-left: 7px;
}

.form1 input[type='number'] {
    padding-left: 10px;
    width: 63px;
    background-color: #b9dbc2;
    border-radius: 5px;
}

.form1 input[type='submit'] {
    margin-left: 10px;
}

i {
    font-size: 16px;
    padding: 2px;
}

#thangIP {
    width: 47px;
}

#titleRad {
    margin-right: 5px;
}

#bieuDo {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 577px;
    overflow: scroll
}

.contai {
    width: 100%;
    height: 442px;
}

#bangDuLieu {
    overflow: scroll;
    width: 100%;
    height: 577px;
}