form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
/* thead{
    background: #fff14d;    

} */
td{
    background: #ffd94d;
    color: black;
    padding-right: 20px;
    

}
#no_color{
    background: none !important;
}
h3{
    font-family: verdana;
    text-align: center;
    /* text-anchor: middle; */
    color: #ff8100;
    font-size: medium;
}