@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto ;
}

li {
    list-style: none;
}

table {
    /* text-align: center !important;*/
} 

table th {
    font-weight: 700!important;
    font-size: 15px !important;
    color: #000;
}
table td {

    font-size: 14px !important;
}

.btn-outline-purple{

    border: 1px solid #7b6bff;
    color: #7b6bff; 
}
.btn-outline-purple:hover{
    border: 1px solid #7b6bff;
    color: #ffffff;
    background-color: 7b6bff;
}