[class*=" bi-"]::before,
    [class^=bi-]::before {
        height: 18.40px;
    }

    .date-board {
        overflow-x: scroll;
    }

    .table-split1 {
        width: 31%;
    }

    .table-split2 {
        width: 69%;
    }

    .table-split2 .date-board table thead,
    .table-split2 .date-board table thead tr th,
    .table-split2 .date-board table tbody tr td {
        border-left: 1px solid #00000012;
    }

    th,
    td {
        text-align: center;
    }

    td i {
        font-size: larger;
    }

    .button {
        margin-right: 150px;
        display: inline-block;
        padding: 0 10px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #03C03C;
        border: none;
        border-radius: 15px;
    }

    .button:hover {
        background-color: #157806;
    }

    .pagination-link {
        display: inline-block;
        padding: 3px 5px;
        margin: 1px;
        border: 1px solid #ccc;
        text-decoration: none;
        color: #333;
        font-size: 12px;
        border-radius: 15px;
    }

    .pagination-link.active {
        background-color: #333;
        color: #fff;

    }

    .pagination-link:not(.active) {
        font-weight: 400;
        font-size: 12px;
        color: #666;
    }

    .phanTrang {
        margin-top: 13px;
    }