.form-control.form-select{
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    
}
.form-select{
    width: 100%;
    padding-left: 20px;
    padding-left: 50px;
} 
tr td {
    font-size: 20px !important;
    height: 20% !important;
    font-weight: bold;
    }